.well{
  margin-top: 150px;
  margin-bottom: 600px;
}


body {
    background-image: url(../../img/profile_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
