<link href="/css/signup/signup.css" rel="stylesheet" type="text/css">


<section style="background-image: url(../img/signup.jpg);" >
<div class="container auth">

    <div id="big-form" class="well auth-box">
      <h1 class="text-center">Sign Up</h1>
      <form method="post" action="/signup" role="signUp">
        <!-- respond to validation -->
        {{#if errors}}
          {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
          {{/each}}
        {{/if}}

        <fieldset>

          <p><font size="2" color="red"><span class="text-danger">*</span>Required</font></p>
          <!-- Name -->
          <div class="form-group">
            <label class=" control-label" for="textinput">Full Name<span class="text-danger">*</span></label>
            <div class="">
              <input id="textinput" name="username" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- email -->
          <div class="form-group">
            <label class=" control-label" for="textinput">CUNY Email<span class="text-danger">*</span></label>
            <div class="">
              <input id="textinput" name="email" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- Password input-->
          <div class="form-group">
            <label class=" control-label" for="password">Password<span class="text-danger">*</span></label>
            <div class="">
              <input id="passwordinput" name="password" placeholder="" class="form-control input-md" type="password">
            </div>
          </div>

          <div class="form-group">
            <label class=" control-label" for="password">Confirm Password<span class="text-danger">*</span></label>
            <div class="">
              <input id="passwordinput" name="password2" placeholder="" class="form-control input-md" type="password">
            </div>
          </div>


          <!-- School-->
          <div class="form-group">
            <label class=" control-label" for="selectbasic">College<span class="text-danger">*</span></label>
            <div class="">
              <select id="selectbasic" name="school" class="form-control">
                <option>Select</option>

                <option>Brooklyn College</option>
                <option>Baruch College</option>
                <option>Hunter College</option>
                <option>Lehman College</option>
                <option>Queens College</option>
                <option>York College</option>
                <option>More</option>
              </select>
            </div>
          </div>

          <!-- gender-->
          <div class="form-group">
            <label class=" control-label" for="radios">Gender</label>
            <div class="">
              <div class="radio">
                <label for="radios-0">
                  <input name="gender" id="radios-0" value="1" checked="checked" type="radio">Male</label>
              </div>
              <div class="radio">
                <label for="radios-1">
                  <input name="gender" id="radios-1" value="2" type="radio">Female</label>
              </div>
            </div>
          </div>

          <!-- upload photo -->
          <!-- <div class="form-group">
            <label class=" control-label" for="filebutton">Profile Photo</label>
            <div class="">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div> -->

          <!-- Select Major -->
          <div class="form-group">
            <label class=" control-label" for="selectmultiple">Major<span class="text-danger">*</span></label>
            <div class="">
              <select id="selectmultiple" name="major" class="form-control" multiple="multiple">
                <option>Art</option>
                <option>Accounting</option>
                <option>Biology</option>
                <option>Business</option>
                <option>Computer Science</option>
                <option>Physics</option>
                <option>More</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class=" control-label" for="selectmultiple">Minor</label>
            <div class="">
              <select id="selectmultiple" name="minor" class="form-control" multiple="multiple">
                <option>Art</option>
                <option>Accounting</option>
                <option>Biology</option>
                <option>Business</option>
                <option>Computer Science</option>
                <option>Physics</option>
                <option>More</option>
              </select>
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class=" control-label" for="textarea">Personal Statement</label>
            <div class="">
              <textarea rows="7" class="form-control" id="textarea" name="intro" placeholder="Introduce yourself"></textarea>
            </div>
          </div>


          <div>
            <div class="extra-space-l"></div>
            <button class="btn btn-blank" type="submit" target="_blank" role="button" style="background-color:white;">Sumbit</button>
         </div>

        </fieldset>
      </form>
    </div>
  </div>


</section>
