<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <section class="signup-form">
        <form method="post" action="#" role="signup">
          <img src="/img/logo.png" class="img-responsive" alt="" />
          <hr>
          <p><font size="2" color="red"><span class="text-danger">*</span>Required</font></p>
          <!-- Name -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="textinput">Full Name <span class="text-danger">*</span>&nbsp</label>
            </div>
              <input id="textinput" name="textinput" type="text" placeholder="Name" class="input-xlarge required">
          </div>
          <!-- school -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="selectbasic">College<span class="text-danger">*</span>&nbsp</label>
            </div>
              <select id="selectbasic" name="selectbasic" class="input-xlarge required">
                <option>Select</option>
                <option>Queens College</option>
                <option>Brooklyn College</option>
                <option>Baruch College</option>
                <option>Hunter College</option>
                <option>Lehman College</option>
                <option>York College</option>
                <option>More</option>
              </select>
          </div>
          <br>
          <!-- school email -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="textinput">School Email<span class="text-danger">*</span>&nbsp</label>
            </div>
              <input id="textinput" name="textinput" type="text" placeholder="CUNY Email" class="input-xlarge required">
          </div>

          <!-- major -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="selectbasic">Major<span class="text-danger">*</span>&nbsp</label>
            </div>
              <select id="selectbasic" name="selectbasic" class="input-xlarge required">
                <option>Select</option>
                <option>Art</option>
                <option>Accounting</option>
                <option>Business</option>
                <option>Computer Science</option>
                <option>More</option>
              </select>
          </div>
          <br>
          <!-- photo -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="textinput">Profile Photo&nbsp</label>
            </div>
              <input type="file" name="file_nm" id="file_nm" class="form-control upload" placeholder="" aria-describedby="file_upload">
            </div>

            <!-- personal statement -->
          <div class="control-group">
            <label class="control-label" for="textarea">Personal Statement</label>
            <div class="controls">
              <textarea id="textarea" name="textarea" class="one-required" placeholder="Introduce yourself"></textarea>
            </div>
          </div>
          <br>
          <!-- gender -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="textinput">Gender &nbsp</label>
            </div>
              <label><input name="gender" type="radio" value="Male" checked> Male </label>
              <label><input name="gender" type="radio" value="Female" > Female </label>
          </div>

          <!-- password -->
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="textinput">Password<span class="text-danger">*</span>&nbsp</label>
            </div>
              <input id="textinput" name="textinput" type="text" placeholder="Enter your password" class="input-xlarge required">
          </div>
          <div class="control-group">
            <div class="info">
              <label class="control-label" for="textinput">Confirm Password<span class="text-danger">*</span>&nbsp</label>
            </div>
              <input id="textinput" name="textinput" type="text" placeholder="Re-enter password" class="input-xlarge required">
          </div>

          <!-- sign-up button -->
          <div class="control-group">
            <label class="control-label" for="singlebutton"></label>
              <div class="controls">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Sign Up</button>
              </div>
          </div>

        </form>

        <div class="form-links">
          <a href="#"></a>
        </div>
      </section>
      </div>

      <div class="col-md-3"></div>

  </div>

</div>
