<!-- Signup and login page share the same stylesheet -->
<link href="/css/signup/signup.css" rel="stylesheet" type="text/css">

<section style="background-image: url(../img/signup.jpg);">
<div class="container auth">

    <div id="big-form" class="well auth-box">
      <div class="row">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}
          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
      </div>
      <h1 class="text-center">Login</h1>
      <form method="post" action="/login" role="login">

        <fieldset>
          <div class="form-group">
            <label class=" control-label" for="textinput">CUNY Email</label>
            <div class="">
              <input id="textinput" name="username" placeholder="Enter Your CUNY Email" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- email -->
          <div class="form-group">
            <label class=" control-label" for="textinput">Password</label>
            <div class="">
              <!-- <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="text"> -->
              <input type="password" name="password" class="form-control input-lg" id="password" required="" placeholder="Enter Your Password"/>
            </div>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>
      </form>
      
    </div>
  </div>


</section>
