
<section style="background-image: url(../img/signup.jpg);">
<div class="container auth">

    <div id="big-form" class="well auth-box">
      <h1 class="text-center">Login</h1>
      <form method="post" action="#" role="login">

        <fieldset>


          <!-- Name -->
          <div class="form-group">
            <label class=" control-label" for="textinput">CUNY Email</label>
            <div class="">
              <!-- <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="text"> -->
              <input id="textinput" type="email" name="email" required class="form-control input-lg" value="student@cuny.edu" />
            </div>
          </div>

          <!-- email -->
          <div class="form-group">
            <label class=" control-label" for="textinput">Password</label>
            <div class="">
              <!-- <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="text"> -->
              <input type="password" class="form-control input-lg" id="password" required="" placeholder="Enter Your Password"/>
            </div>
          </div>


          <div>
            <div class="extra-space-l"></div>
            <a class="btn btn-blank" href="/discussions" target="_blank" role="button" style="background-color:white;">Login</a>
          </div>

        </fieldset>
      </form>
    </div>
  </div>


</section>
