<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(../img/slider-bg.jpg);">

      <div class="container">
        <div class="caption text-center text-white" data-stellar-ratio="0.7">

          <div id="owl-intro-text" class="owl-carousel">
            <div class="item">
              <h1>Welcome to CUNYPlus!</h1>
                              <div class="extra-space-l"></div>
              <a class="btn btn-blank" href="/login" target="_blank" role="button">Explore More</a>
            </div>
            <div class="item">
              <h1>Latest CUNY news</h1>
              <div class="extra-space-l"></div>
              <a class="btn btn-blank" href="/login" target="_blank" role="button">Explore More</a>
            </div>
            <div class="item">
              <h1>Find people with same major</h1>
              <div class="extra-space-l"></div>
              <a class="btn btn-blank" href="/login" target="_blank" role="button">Explore More</a>
            </div>
          </div>

        </div> <!-- /.caption -->
      </div> <!-- /.container -->

</section>
    <!-- End text carousel intro section -->
