<link href="/css/post/post.css" rel="stylesheet" type="text/css">

<div class="container" id="postPage">
	<div class="row">
		<div class="col-md-3"></div>
	    <div class="col-md-6">



        <section class="post-form">
    		  <form action="/posts/createPost" method="POST">
            <h1>Create Post</h1>
    		    <div class="form-group">
    		        <label for="title">Title</label>
    		        <input type="text" class="form-control" name="title" />
    		    </div>

						<div class="form-group">
    		        <label for="title">Link</label>
    		        <input type="text" class="form-control" name="link" />
    		    </div>

    		    <div class="form-group">
    		        <label for="description">Description</label>
    		        <textarea rows="5" class="form-control" name="description" ></textarea>
    		    </div>

						<div class="control-group">
	            <div class="info">
	              <label class="control-label" for="selectbasic">Share to</label>
								<br>
	            </div>
	              <select id="selectbasic" name="selectbasic" class="input-xlarge required">
	                <option>Select</option>
	                <option>General</option>
	                <option>Events</option>
	                <option>Internship</option>
	                <option>Group 1</option>
	                <option>Group 2</option>
	                <option>More</option>
	              </select>
								<br>
								<br>
	          </div>

    		    <!-- <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div> -->

    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">Create</button>
    		        <button class="btn btn-default"><a id="cancel" href="/discussions">Cancel</a></button>
    		    </div>

    		 </form>
       </section>


    </div>

	</div>
</div>
</section>
